@import 'global/vars';
@import 'global/colors';
@import 'global/utilities';

.page-visits .main-footer {
	display: none;
}

.main-footer {
	position: fixed;
	min-height: 50px;
	z-index: 99164;
	width: 100%;
	top: 0;
	right: 0;
	box-sizing: border-box;
}

.main-footer .action-items {
	width: 33.3334%;
	max-width: 100%;
	min-width: 396px;
	float: right;	
}

.action-items {
	background-color: $crimson;
	overflow: hidden;
}

.actions.affixed-top dl.action-item dt {
	text-align: center;
	width: 100%;
}

.actions.affixed-top dl.actions-list,
.actions.affixed-top dl.action-item,
.actions.affixed-top dl.action-item dt {
	height: 50px;
}

dl.actions-list {
	width: 100%;
	height: 50px;
	background: $crimson;
	padding: 0;
	display: -webkit-flex;
	-webkit-flex-direction: row;
	-webkit-flex-wrap: nowrap;
	-webkit-flex-flow: row nowrap;
	justify-content: space-around;
	background: $crimson;
 }
 
 dl.action-item {
	width: 25%;
	padding: 0;
	margin: auto;
	float: left;
}

/* Admin Bar Adjustments */
x.admin-bar .size-gt-medium:not(.size-lt-990) .main-footer {
	top: 32px;
}

.size-lt-large .main-footer,
x.admin-bar .size-lt-large .actions.affixed-top {
	top: 50px;
}

.admin-bar .main-footer {
	top: 32px;
}

.admin-bar .size-lt-large .main-footer {
	top: 50px;
}


.action-item,
.action-item dt {
	height: 50px;
}

.action-item dt {
	width: 100%;
	list-style: none;
	font-weight: 300;
	padding: 0;	
	display: table;
	background-color: $crimson;
}

.action-item dt a,
.action-item dt button {
	text-align: center;
	color: white;
	height: 100%;
	display: block;
	vertical-align: middle;
	display: table-cell;
	border-radius: 0;
	border-width: 0;
	background-color: transparent;
	font-size: 24px;
	padding: 0;
	@include antialiased;
	font-weight: 300;
	font-family: "Open Sans";
	text-align: center;
	width: 100%;
	outline: none;
	}

.action-item:nth-of-type(even) dt a,
.action-item:nth-of-type(even) dt button {
	background: linear-gradient(to bottom, $crimson 0%,$crimson-dark 100%); /* W3C */
}

.action-item:nth-of-type(n+1) dt a:hover,
.action-item:nth-of-type(n+1) dt button:hover,
.action-item.opened dt,
.action-item.opened dt button {
	background: $crimson-er;	
}

.action-item dd {
	display: none;
}

.action-item.opened dd {
	display: block;
}

.action-item dd {
	overflow-x: hidden;
	overflow-y: scroll;
	width: 33.3334%;
	min-width: 396px;
	background-color: $crimson-er;
	position: absolute;
	right: 0;
	padding: 2rem;
	box-sizing: border-box;
	color: white;
	height: calc( 100vh - 50px );
	z-index: 999164;
}

.action-item li {
	//padding-top: 2em;
	//position: relative;
}

.action-item a:first-child {
	display: inline-block;
	background-color: #6b1523;
	background-color: white;
	color: $crimson !important;
	padding: .2em .4em;
	//height: 40px;
	margin: -.2em .2em -.2em 0em;
	border-left-color: white;
	border-style: solid;
	border-right-color: $crimson;
	border-right-width: 0px;
	border-left-width: 0px;
	white-space: nowrap;
	//position: absolute;
	//display: block;
	top: 0;
	text-transform: uppercase;
}

.action-item a:hover {
	background-color: $crimson-dark;
	color: $crimson-er !important;
	transition: color .2s ease-out;
	transition: background-color .2s ease-out;
	//border-width: 0 3px 3px 0;
}

.action-item header {
	font-weight: 800;
	font-size: 1.4rem;
	text-transform: uppercase;
	padding-bottom: 1rem;
}

.action-item hr {
	height: 1rem;
	border: none;
	display: block;
	background: $crimson-dark;
}

#info {

	form {
		position: relative;
	}
	
	.itemValue {
		margin-bottom: 3px;
	}
	
	input[type="text"] {
		margin-bottom: 0px;
	}
	
	input[type="text"] {
		width: 100%;
		background-color: $crimson;
		border: none;
		color: $gray-lightly;
	}
	
	
	
	input.required[type="text"] {
		background-color: $crimson-dark;
	}
	
	input[type="text"]:focus {
		background-color: black;
	}
	
	.itemLabel {
		display: none;
	}
	
	::-webkit-input-placeholder { color: white; }
	:-moz-placeholder { /* Firefox 18- */ color: white; }
	::-moz-placeholder { /* Firefox 19+ */ color: white; }
	:-ms-input-placeholder { color: white; }

}

.action-item h2 {
	padding-top: 0;
}

.action-item ul {
	padding: 0;
}

.action-item li {
	list-style: none;
	padding-bottom: 1rem;
}

.action-item li a {
	font-weight: bold;
	color: white;
}
