@import 'global/vars';
@import 'global/colors';
@import 'global/utilities';

.page-visits .main-footer {
	display: none;
}

.main-footer {
	position: fixed;
	min-height: 50px;
	z-index: 99164;
	width: 100%;
	top: 0;
	right: 0;
	box-sizing: border-box;
}

.main-footer .action-items {
	width: 33.3334%;
	max-width: 100%;
	min-width: 396px;
	float: right;	
}

.size-small .main-footer .action-items,
.size-small .action-item dd {
	min-width: 100%;
}

.action-items {
	background-color: $crimson;
	overflow: hidden;
	display: flex;
}

.actions.affixed-top dl.action-item dt {
	text-align: center;
	width: 100%;
}

.actions.affixed-top dl.actions-list,
.actions.affixed-top dl.action-item,
.actions.affixed-top dl.action-item dt {
	height: 50px;
}

dl.actions-list {
	width: 100%;
	height: 50px;
	background: $crimson;
	padding: 0;
	display: -webkit-flex;
	-webkit-flex-direction: row;
	-webkit-flex-wrap: nowrap;
	-webkit-flex-flow: row nowrap;
	justify-content: space-around;
	background: $crimson;
 }
 
 dl.action-item {
	width: 25%;
	flex: 1;
	padding: 0;
	margin: auto;
	float: left;
}

/* Admin Bar Adjustments */
x.admin-bar .size-gt-medium:not(.size-lt-990) .main-footer {
	top: 32px;
}

.size-lt-large .main-footer,
x.admin-bar .size-lt-large .actions.affixed-top {
	top: 50px;
}

.admin-bar .main-footer {
	top: 32px;
}

.admin-bar .size-lt-large .main-footer {
	top: 50px;
}


.action-item,
.action-item dt {
	height: 50px;
}

.action-item dt {
	width: 100%;
	list-style: none;
	font-weight: 300;
	padding: 0;	
	display: table;
	background-color: $crimson;
}

.action-item dt a,
.action-item dt button {
	text-align: center;
	color: white;
	height: 100%;
	display: block;
	vertical-align: middle;
	display: table-cell;
	border-radius: 0;
	border-width: 0;
	background-color: transparent;
	font-size: 24px;
	padding: 0;
	@include antialiased;
	font-weight: 300;
	font-family: "Open Sans";
	text-align: center;
	width: 100%;
	outline: none;
}

.action-item:nth-of-type(n+2) dt a,
.action-item:nth-of-type(n+2) dt button {
	border-left: 2px #7c182d solid;	
}

.action-item:nth-of-type(n+1) dt a:hover,
.action-item:nth-of-type(n+1) dt button:hover,
.action-item.opened dt,
.action-item.opened dt button {
	background: $crimson-er;
	background: $gray-darker;	
}


.action-item:nth-of-type(n+1):not(.opened) dt a:hover,
.action-item:nth-of-type(n+1):not(.opened) dt button:hover {
	background-color: #7c182d;
}

.action-item dd {
	display: none;
}

.action-item.opened dd {
	display: block;
}

.action-item dd {
	overflow-x: hidden;
	overflow-y: scroll;
	width: 33.3334%;
	min-width: 396px;
	background-color: $crimson-er;
	background-color: $gray-darker;
	position: absolute;
	right: 0;
	padding: 2rem;
	box-sizing: border-box;
	color: white;
	height: calc( 100vh - 50px );
	z-index: 999164;
}

.action-item a:first-child {
	display: inline-block;
	background-color: #6b1523;
	background-color: white;
	color: $crimson !important;
	padding: .2em .4em;
	margin: -.2em .2em -.2em 0em;
	border-left-color: white;
	border-style: solid;
	border-right-color: $crimson;
	border-right-width: 0;
	border-left-width: 0;
	white-space: nowrap;
	top: 0;
	text-transform: uppercase;
}

.action-item a:hover {
	background-color: $crimson-dark;
	color: $crimson-er !important;
	transition: color .2s ease-out;
	transition: background-color .2s ease-out;
}

.action-item header {
	font-weight: 800;
	font-size: 1.4rem;
	text-transform: uppercase;
	padding-bottom: 1rem;
}

.action-item hr {
	height: 1rem;
	height: 3px;
	border: none;
	display: block;
	background: $crimson-dark;
	background: $gray;
}

#info {

	form {
		position: relative;
	}
	
	input[type="text"],
	select {
		margin-bottom: 3px;
	}
	
	input[type="text"] {
		width: 100%;
		background-color: $crimson;
		background-color: $gray;
		border: none;
		color: $gray-lightly;
		border-radius: 0;
	}

	
	#additional-info.closed {
		display: none;
	}
	
	#additional-info.closed ~ * {
		display: none;
	}
	
	select {
		background-color: $gray;
		height: 26px;
		color: white;
		border: none; 
		outline: none;
		-webkit-appearance: none; 
		filter: alpha(opacity=0);
		box-sizing: border-box;
		width: 100%;
		padding-left: 5px;
		padding-right: 5px;
		border-radius: 0;
	}

	.birthday select {
		width: auto;
	}
	
	select option {
		position: relative;
	}
	
	select option::before {
		content: "";
		position: absolute;
		display: block;
		top: 0;
		width: 0; 
		height: 0; 
		border-left: 20px solid transparent;
		border-right: 20px solid transparent;
		border-top: 20px solid white;
	}
	
	input.required[type="text"],
	input:required,
	select.required,
	select:required {
		background-color: $gray-light !important;
		border-left: 3px $gray-lightest solid;
	}
	
	select:focus,
	input[type="text"]:focus,
	input[type="text"].required:focus {
		color: black;
		background-color: $gray-lightest;
	}
	
	.itemLabel {
		display: none;
	}
	
	input[type="text"] {
		&::-webkit-input-placeholder { color: white; }
		&:-moz-placeholder { color: white; }
		&::-moz-placeholder { color: white; }
		&:-ms-input-placeholder { color: white; }
	}
	
	input[type="text"]:focus {
		&::-webkit-input-placeholder { color: $gray; }
		&:-moz-placeholder { color: $gray; }
		&::-moz-placeholder { color: $gray; }
		&:-ms-input-placeholder { color: $gray; }
	}
	
	form button,
	form input[type="button"],
	form input[type="submit"] {
		border-radius: 0;
		border-width: 1px;
		color: $gray;
		border-color: $gray-lightly;
		background-color: $gray-lightly;
	}
	
	form button:hover,
	form input[type="button"]:hover,
	form input[type="submit"]:hover {
		color: $gray-darker;
		border-color: white;
		background-color: white;
	}
	
	form button.secondary,
	form input[type="submit"].secondary {
		background: transparent;
		color: $gray-light;
		border-color: $gray-light;
	}
	
	form button.secondary:hover,
	form input[type="submit"].secondary:hover {
		color: white;
		background: transparent;
		border-color: white;
	}

}

.action-item h2 {
	padding-top: 0;
}

.action-item ul {
	padding: 0;
}

.action-item li {
	list-style: none;
	padding-bottom: 1rem;
}

.action-item li a {
	font-weight: bold;
	color: white;
}
