

.home .main-header,
.page-you .main-header,
.page-visits .main-header {
	display: none;
}

.inspiring-you .column.one {
	width: 65%;
	border-right: 40px $crimson solid;
	text-align: right;
	height: 200px;
	position: relative;
}

.inspiring-you .column.two {
	min-height: 200px;
	position: relative;
	overflow: hidden;
	font-size: 18px;
	@include antialiased;
}

.crimson-column-left header,
.crimson-column-right header {
	position: relative;
	min-height: 100px;
}

.inspiring .crimson-column-right header h2,
.inspiring .crimson-column-left header h2 {
	position: absolute;
	bottom: -14px;
}

.inspiring-message {
	font-size: 1.2rem;
	@include antialiased;
}

.crimson-column-right {
	border-right: 40px $crimson solid;
	text-align: right;
	padding-right: 15px;
}

.crimson-column-left {
	border-left: 40px $crimson solid;
	text-align: left;
	padding-left: 15px;
}



/* Homepage */


