

.home .main-header,
.page-you .main-header,
.page-visits .main-header {
	display: none;
}

.inspiring-you .column.one {
	width: 65%;
	border-right: 40px $crimson solid;
	text-align: right;
	height: 200px;
	position: relative;
}

.inspiring-you .column.two {
	min-height: 200px;
	position: relative;
	overflow: hidden;
	font-size: 18px;
	@include antialiased;
}

.crimson-column-right {
	border-right: 40px $crimson solid;
	text-align: right;
}

.crimson-column-left {
	border-left: 40px $crimson solid;
	text-align: left;
}



/* Homepage */


/* Homesickness */

.size-gt-small .inspiring-homesickness {
	padding-left: 40px;
}

.inspiring-homesickness [class*="crimson-column"] header {
	height: 200px;
}

.inspiring-homesickness .column ~ .column {
	clear: left;
	margin-left: 40px;
}