/* Social Wall */

.socialize .unbound.recto {
	margin-right: 0 !important;
}

.socialize .row.single,
.socialize .row.single .column {
	width: 100% !important;
	max-width: 100% !important;
}

.socialize {

		background: linear-gradient(to bottom,  rgba(152,30,50,1) 0%,rgba(152,30,50,1) 50%,rgba(42,48,51,1) 50%,rgba(42,48,51,1) 100%); /* W3C */

 .gallery {
		
		display: flex;
		flex-direction: column;
	  	flex-wrap: wrap;
		height: 610px;
		max-width: 1188px;
		margin: 0 auto;
		
		img {
			border: none;
			width: 100%;
			height: auto;
			
			
		}
		
		.size-lt-xlarge & img {
			min-height: 100%;
			width: auto;
			max-width: 1000px;
		}
		
		.size-gt-large & img {
			min-width: 100%;
			height: auto;
			
		}
		
		a {
			display: block;
		}
		
		.gallery-item {
			margin: 0;
			float: none;
			height: 198px;
			overflow: hidden;
			width: 20%;
		}
	
		.gallery-item:nth-of-type(1) {
			margin-top: 99px;
		}
		.gallery-item:nth-of-type(3) {
			margin-top: 150px;
		}
		.gallery-item:nth-of-type(8) {
			margin-top: 66px;
		}
		
		.gallery-icon {
			line-height: 0;
			overflow: hidden;
		}
		
		figcaption {
			display: none;	
		}
		
	}
	

}

.size-gt-large .socialize .gallery {
	//height: 800px;
}

/* FOS Browser */

.fos-index {
	
	header {
		margin-bottom: .5rem;
	}
	
	.areas-wrap {
		background-color: $gray-lighter;
		height: 2.8em;
		position: relative;
		padding: 1rem;
		margin-bottom: 1rem;
	}
	
	.areas-wrap ul {
		width: calc(100% - 2rem);
	}
	
	ul,
	li {
		box-sizing: border-box;
	}
	
	ul {
		height: auto;
		padding: 0;
		width: 100%;
	}
	
	li {
		padding: 0px;
		margin: 0px;
		list-style: none;
		background-color: white;
	}
	
	li.top a {
		color: $gray;
		padding: 10px 0px 10px 20px;
		text-transform: uppercase;
		pointer-events: none;
	}
	
	li.top:hover {
		cursor: pointer;
	}
	
	li a {
		color: $crimson;
		font-size: 14px;
		padding: 5px 20px;
		display: block;
	}
	
	/* Drop Menus */
	
	ul.drop {
		padding: 0;
		position: absolute;
		z-index: 509;
		background-color: white;
	}
	
	ul.drop li a:hover {
		color: white;
		background-color: $crimson;
		transition: background-color .2s ease-in-out;
	}

	ul.drop li.item {
		display: none;
	}
	
	ul.dropped {
		padding-bottom: 20px;
	}
	
	ul.dropped li.item {
		display: block;
	}
	
	/* AZ */
	
	.az li {
		display: inline-block;
		margin-bottom: 5px;
		background: transparent;
	}
	
	.az li a {
		color: $gray-light;
		border: 1px $gray-light solid;
		padding: 6px 12px;
	}
	
	.az li a:hover {
		color: $gray;
		background-color: white;
		border-color: white;
	}

	.colleges-wrap {
		display: none;
	}

}

/* Fairs */

.fairs {
	
	li {
		display: inline-block;
		margin-right: 2px;
		margin-bottom: 2px;
	}
	
	li a {
		color: white;
		background-color: $crimson;
		padding: 5px 5px;
	}
}

/* Stats */

.stats {
	
	text-align: center;
	
	.column header {
		margin-bottom: .2rem;	
	}
	
	h2 {
		padding-bottom: 0;
		font-weight: 800;
	}
	
	p {
		//text-transform: uppercase;
	}
	
}

/* Gallery */

.gallery::after {
	content: "";
	display: table;
	clear: both;	
}

.section-wrapper {
	background-size: cover;
	background-position: center center;
}

/* Inspiring Ticker */

.inspiring {
	//height: 100vh;
	height: 500px;
	background-size: cover;
}

.inspiring .column.one {
	position: relative;
}

.inspiring-you .column.one {
	//width: 65%;
	border-left: 40px $crimson solid;
	//text-align: right;
	height: 200px;
	position: relative;
}

.inspiring-you .column.two {
	min-height: 200px;
	position: relative;
	overflow: hidden;
	font-size: 18px;
	@include antialiased;
}

ul.inspirings {
	width: 500px;
	margin-bottom: -2px;
	padding: 0;
	position: absolute;
	bottom: 0;
	left: 0;
	//height: 200px;
	margin-left: 15px;
}

ul.inspirings ul {
	padding: 0;
}

@-webkit-keyframes on {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

.inspirings li {
	@include open;
	font-weight: 800;
	color: white;
	text-transform: uppercase;
	font-size: 54px;
	line-height: 48px;
}

.subhead header h2 {
	font-weight: 300;
}

.inspirings li {
	//text-align: right;
	display: block;
	padding: 0;
	bottom: 0;
	list-style: none;
}

.inspirings b {
	margin-bottom: 48px;
	display: block;
	font-weight: 800;
}

.inspirings ul {
	padding: 0;
}

.inspirings ul li {
	opacity: 0;
	//display: none;
	position: absolute;
	left: 0;
}

.inspirings ul li:first-child {
	//display: block;
}

$inspiration: 1;
$delay: 0;
$duration: 2;

@while $inspiration < 17 {

	.inspirings ul li:nth-of-type(#{$inspiration}) {
		-webkit-animation-name: on;
		-webkit-animation-duration: #{$duration}s;
		-webkit-animation-delay: #{$delay}s;
		 
		//-webkit-animation-iteration-count: 3;
		//-webkit-animation-direction: alternate;
	}
	$inspiration: $inspiration + 1;
	@if $inspiration < 9 {
		$duration: $duration - ($inspiration * .05);
	}
	$delay: $delay + $duration;

}

.inspirings ul li:nth-of-type(16) {
	-webkit-animation-duration: 10000s;
}

.inspiring-you {
	background-image: url('/wp-content/uploads/sites/13/2014/10/DSC_7594.jpg');
	background-position: right center;
	//background-attachment: fixed;
}

.day-time .inspiring-you .column.two {
	//background-color: rgba(0, 0, 0, 0.5);
}

.night-time .inspiring-you {
	background-image: url('/wp-content/uploads/sites/13/2014/10/wsuatnight.jpg');
	//background-attachment: fixed;
}

.size-gt-small .inspiring-you .column.two {
	margin-top: 200px;
}