
.slide-cub .wrap {
	background: #20598a;
	color: white !important;
}

.slide-college-hill .wrap {
	background-color: rgba(255, 255, 255, 0.8);
}

.slide.slide-cub .wrap header h2,
.slide .wrap p:last-of-type {
	padding-bottom: 0;
}

.slide.slide-cub .wrap header,
.slide.slide-cub .wrap header h2 {
	color: white !important;
}

.inspiring-found .inspiring-line {
	margin-left: 100px;
}

.slide-cub .white-list li a {
	background-color: white;
	color: #20598a;
}

.slide-family-room .wrap {
	background: rgba(176, 36, 17, 0.7);
	color: white;
}

.section-timeoflife .column.three {
	background: rgba(30, 189, 113, 0.8);
}

.section-timeoflife .white-list li a {
	color: rgba(30, 189, 113, 1);
}

.id-crew .wrap {
	background-color: rgba(0, 0, 0, 0.5);
}