/* Inspiring Homesickness */

.size-gt-small .inspiring-homesickness {
	padding-left: 40px;
}

.inspiring-homesickness .column ~ .column {
	clear: left;
	margin-left: 40px;
}

.inspiring-homesickness .column.two,
.inspiring-homesickness .column.three {
	min-width: 396px;
}

.size-lt-medium .inspiring-homesickness .row .column.two,
.size-lt-medium .inspiring-homesickness .row .column.three {
	width: calc( 100% - 40px );
}

.inspiring-homesickness .column.two {
	//margin-top: 20px;
}

x.kilroy {
	background-color: white;
	background-color: $crimson;
	color: $gray-lighter;
}

.kilroy header h2 {
	//color: $gray-darker;
}